@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.top-bar {
    width: 100%;
    height: 67px;
    line-height: 67px;
    background-color: #C3CFD9;
    color: #E8833A;
    font-size: 34px;
    text-align: center;
}

.section-title {
    color: #293845;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    padding: 50px 0px;
}

.movie-list {
    width: 100%;
    display: grid;
    grid-template-columns: 145px 145px;
    column-gap: 30px;
    row-gap: 10px;
    justify-content: center;
}

.movie-list .movie {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 8px 6px 8px;
    background-color: #FFFFFF;
}


.movie-list .movie img{
    width: 130px;
    height: 193px;
    object-fit: contain;
}

.sessions-list {
    padding: 0px 50px 120px 50px;
}

.sessions-list .schedule .date {
    font-size: 20px;
    color: #293845;
    margin-bottom: 24px;
}

.sessions-list .schedule .sessions {
    display: flex;
    align-items: center;
}

.sessions-list .schedule .sessions .time {
    width: 83px;
    height: 43px;
    line-height: 43px;
    background-color: #E8833A;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
    margin: 0 10px 28px 0;
}

.movie-selected {
    width: 100%;
    height: 117px;
    position: fixed;
    bottom: 0;
    background-color: #DFE6ED;
    display: flex;
    align-items: center;
    border-top: 1px solid #9EADBA;
}

.movie-selected .poster {
    background-color: #FFFFFF;
    padding: 6px 6px;
    margin: 0 12px;
}

.movie-selected .poster img {
    width: 59px;
    height: 86px;
}

.movie-selected .movie-title {
    font-size: 26px;
    color: #293845;
}

.movie-selected .movie-title .date {
    display: block;
}

.seats {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 7px;
    row-gap: 14px;
    padding: 0 30px;
    margin-bottom: 20px;
}

.seats-information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.seats-information .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.seats-information .seat {
    margin-bottom: 8px;
}

.seat {
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 17px;
    color: #000000;
    border: 1px solid #7B8B99;
    background-color: #C3CFD9;
    font-size: 11px;
    text-align: center;
}

.seat.occupied {
    border: 1px solid #F7C52B;
    background-color: #FBE192;
}

.seat.selected {
    border: 1px solid #1AAE9E;
    background-color: #8DD7CF;
}

.input-title {
    font-size: 18px;
    color: #293845;
    padding: 0 30px;
}

.input-box {
    width: calc(100% - 60px);
    height: 51px;
    margin: 4px 30px 16px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    font-size: 18px;
    font-style: italic;
    padding-left: 15px;
}

::placeholder {
    color: #AFAFAF;
}

.choose-seats {
    width: 225px;
    height: 42px;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #E8833A;
    font-size: 18px;
    border: none;
    margin-left: calc(50% - 112px);
    margin-top: 40px;
    margin-bottom: 157px;
}